{% extends "base.html" %}

{% block title %} Uh Oh {% endblock %}

{% block base_nav %}
{% endblock %}

{% block content %}
    <!-- CONTENT
    ================================================== -->
    <section class="section-border border-orange">
        <div class="container d-flex flex-column">
          <div class="row align-items-center justify-content-center no-gutters min-vh-100">
            <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">
  
              <!-- Image -->
              <img src="{{ url_for('static', filename='img/gif/gif_tester.gif') }}" class="img-fluid" alt="...">
  
            </div>
            <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">

              <!-- Link -->
              <a href="{{ url_for('main.index') }}" class="font-weight-bold font-size-sm text-decoration-none mb-3">
                <i class="fe fe-arrow-left mr-1"></i> Back to saftey
              </a>
              
              <!-- Heading -->
              <h1 class="display-3 font-weight-bold">
                403: Could have sworn we thought of it all.
              </h1>
  
              <!-- Text -->
              <p class="mb-5 text-muted">
                We ran into an issue and have been notified, so don't worry we'll take care of it.
              </p>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section>
{% endblock %}

{% block footer %}
{% endblock %}