{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block base_nav %}
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-page="nav">
        <img class="logo" src="{{ url_for('static', filename='img/squares.png') }}">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for('main.index') }}">Abode</a>
        <span class="virtuality-dorm">Dorm</span>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
    </nav>
    <!-- end nav -->
{% endblock %}

{% block header %}
{% endblock %}

{% from "security/_macros.html" import render_field %}

{% block content %}
    <!-- login section -->
    <section id="login" class="login-section text-center">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-l-30 p-r-30 p-t-40 p-b-20">
                    <form class="login100-form" method="POST" action="{{ url_for('security.login') }}" name="login_user_form">
                        <div class="sl-object obj-muted">
                            <img class="about-svg" src="{{ url_for('static', filename='img/svg/shield.svg') }}">
                        </div>
                        <span class="login100-form-title p-b-5">
                            Login to your account
                        </span>
                        <span class="login100-form-subtitle p-b-20">
                            All fields are required
                        </span>

                        {{ login_user_form.hidden_tag() }}

                        {{ render_field(login_user_form.email, placeholder="Email", class_="input100") }}

                        {{ render_field(login_user_form.password, placeholder="Password", class_="input100") }}
                        
                        <div class="container-login100-form-btn p-t-25">
                            <button class="login100-form-btn" type="submit">
                                Login
                            </button>
                        </div>

                        <div class="text-center w-full p-t-75">
                            <span class="txt1">
                                Don't have an account? 
                            </span>

                            <a class="txt1 bo1 hov1" href="{{ url_for('security.register') }}">
                                Sign up						
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end login section -->
{% endblock %}