{% extends "base.html" %}

{% block title %} About Us {% endblock %}\

{% from "security/_macros.html" import render_land_field %}

{% block content %}
    <!-- CONTENT
    ================================================== -->
    <section class="pt-8 pt-md-11">
        <div class="container">
            <div class="row align-items-center">
            <div class="col-12 col-md">
                
                <!-- Link -->
                <a href="{{ url_for('main.index') }}" class="font-weight-bold font-size-sm text-decoration-none mb-3">
                    <i class="fe fe-arrow-left mr-3"></i> Homepage
                </a>
    
                <!-- Heading -->
                <h1 class="display-4 mb-2">
                About Us
                </h1>

                <!-- Text -->
                <p class="font-size-lg text-gray-700 mb-5 mb-md-0">
                Abode Interior · Based out of Northeast Ohio
                </p>
    
            </div>
            <div class="col-auto">
                
                <!-- Buttons -->
                <a href="#contact-us" class="btn btn-primary-soft lift" data-toggle="smooth-scroll">
                Contact Us <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
                </a>
    
            </div>
            </div> <!-- / .row -->
            <div class="row">
            <div class="col-12">
                
                <!-- Divider -->
                <hr class="my-6 my-md-8 border-gray-300">
    
            </div>
            </div> <!-- / .row -->
            <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                
                <!-- Heading -->
                <h3>
                Who are we?
                </h3>
    
                <!-- Text -->
                <p class="text-gray-800 mb-2">
                    Incoming college freshman need to plan ahead. These dedicated, passionate students already have a lot on their plate, and planning for dorm room living is one of these challenges. Most universities don’t have detailed dorm room layouts, leading to confusion and misinformation about how much space is provided and what students actually need to bring along with them. Abode Interior fixes this problem.
                </p>

                <!-- Text -->
                <p class="text-gray-800 mb-6 mb-md-8">
                    Through the use of three unique softwares described below, campus dorm rooms and houses can be scanned resulting in a 3D model that allows you to see the space. Students can interact with the model, allowing them to customize their room before moving in. It will inform students of the characteristics and dimensions of the space, giving students enough information to adequately prepare for move-in day.
                </p>
    
                <!-- Heading -->
                <h3>
                Step 1: Canvas Scan
                </h3>

                <!-- Text -->
                <p class="text-gray-800 mb-5">
                    In order to convert a room into a 3D model, Canvas’s iPad attachment scans the space, returning with a rough model of the dorm room or house. Canvas provides:
                </p>

                <!-- List -->
                <div class="d-flex">
            
                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800">
                    Accurate measurements
                </p>
    
                </div>

                <!-- List -->
                <div class="d-flex">
            
                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800">
                    Reliable and efficient conversion 
                </p>
    
                </div>

                <!-- List -->
                <div class="d-flex">
            
                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800 mb-6 mb-md-8">
                    Average scan time of 30 minutes
                </p>
    
                </div>

                <!-- Heading -->
                <h3>
                Step 2: Scan to CAD
                </h3>

                <!-- Text -->
                <p class="text-gray-800 mb-5">
                    Through Canvas's Scan to CAD services, the space can be converted into a professional grade, editable, and applicable CAD file for only $29 per room. 
                </p>

                <!-- List -->
                <div class="d-flex">
            
                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800">
                    Colored model to help identify furniture
                </p>
    
                </div>

                <!-- List -->
                <div class="d-flex">
            
                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800 mb-6 mb-md-8">
                    Dynamic .skp files useful in application
                </p>
    
                </div>

                <!-- Heading -->
                <h3>
                Step 3: 3D Application
                </h3>
    
                <!-- Text -->
                <p class="text-gray-800 mb-5">
                    Using Webrotate, the CAD model can be placed in a website for students to interact with. Webrotate allows for:
                </p>
    
                <!-- List -->
                <div class="d-flex">
            
                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800">
                    Simple drag and view functions
                </p>
    
                </div>

                <!-- List -->
                <div class="d-flex">
            
                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800 mb-6 mb-md-8">
                    Hotspots for specific attributes
                </p>
    
                </div>

                <!-- Heading -->
                <h3>
                Room Summary
                </h3>
    
                <!-- Text -->
                <p class="text-gray-800 mb-5">
                    In order to provide you with the most information, we go through the rooms in person and collect all the data you could ever need. We supply:
                </p>
    
                <!-- List -->
                <div class="d-flex">
            
                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800">
                    Dorm hall details
                </p>
    
                </div>

                <!-- List -->
                <div class="d-flex">
            
                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800">
                    General room features
                </p>
    
                </div>

                <!-- List -->
                <div class="d-flex">
    
                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800">
                    Furniture dimensions
                </p>
    
                </div>

                <!-- List -->
                <div class="d-flex">

                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800">
                    Commute times
                </p>
    
                </div>

                <!-- List -->
                <div class="d-flex">

                <!-- Badge -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>
                
                <!-- Text -->
                <p class="text-gray-800 mb-10 mb-md-0">
                    Integrated maps and images
                </p>
    
                </div>
    
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                
                <!-- Card -->
                <div class="card shadow-light-lg mb-7 mb-md-6 lift lift-lg">
                
                    <!-- Image -->
                    <img src="{{ url_for('static', filename='landing_static/img/gfm-cover.png') }}" alt="..." class="card-img-top">
        
                    <!-- Shape -->
                    <div class="position-relative">
                        <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
                        </svg>
                        </div>
                    </div>
        
                    <!-- Body -->
                    <div class="card-body position-relative">
        
                        <!-- Badge -->
                        <div class="position-relative text-right mt-n8 mr-n4 mb-3">
                        <span class="badge badge-success">
                            <span class="h6 text-uppercase">Go Fund Me</span>
                        </span>
                        </div>
                        
                        <!-- Heading -->
                        <h3>
                        Abode Interior
                        </h3>
        
                        <!-- Text -->
                        <p class="text-muted">
                        This will explain the gofundme you create for this product
                        </p>
        
                        <!-- Link -->
                        <a href="https://www.gofundme.com/f/abode-interior" target="_blank" class="font-weight-bold text-decoration-none">
                        See info <i class="fe fe-arrow-right ml-3"></i>
                        </a>
        
                    </div>
        
                </div>

                <!-- Card -->
                <div class="card shadow-light-lg lift lift-lg">
                
                    <!-- Image -->
                    <img src="{{ url_for('static', filename='landing_static/img/me_img.png') }}" alt="..." class="card-img-top">
        
                    <!-- Shape -->
                    <div class="position-relative">
                        <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
                        </svg>
                        </div>
                    </div>
        
                    <!-- Body -->
                    <div class="card-body position-relative">
        
                        <!-- Badge -->
                        <div class="position-relative text-right mt-n8 mr-n4 mb-3">
                        <span class="badge badge-orange">
                            <span class="h6 text-uppercase">Creator</span>
                        </span>
                        </div>
                        
                        <!-- Heading -->
                        <h3>
                        Ben Foltz
                        </h3>
        
                        <!-- Text -->
                        <p class="text-muted">
                        Hello everyone! I created Abode Interior to help others that are just as confused about their move in process as I was. I'm looking to be able to help more people, I just need your help! 
                        </p>
        
                        <!-- List -->
                        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
                        <li class="list-inline-item list-social-item mr-3">
                            <a target="_blank" href="https://www.instagram.com/ben_foltzy/" class="text-decoration-none">
                            <!-- Icon -->
                            <div class="icon text-secondary mb-3">
                                <i class="fe-icon-20 fe fe-instagram"></i>
                            </div>
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a target="_blank" href="https://www.linkedin.com/in/ben-foltz/" class="text-decoration-none">
                            <!-- Icon -->
                            <div class="icon text-secondary mb-3">
                                <i class="fe-icon-20 fe fe-linkedin"></i>
                            </div>
                            </a>
                        </li>
                        <li class="list-inline-item list-social-item mr-3">
                            <a target="_blank" href="/static/landing_static/resume/Resume.pdf" class="text-decoration-none" title="View/Download resume">
                            <!-- Icon -->
                            <div class="icon text-secondary mb-3">
                                <i class="fe-icon-20 fe fe-file-text"></i>
                            </div>
                            </a>
                        </li>
                        </ul>
        
                    </div>
        
                </div>
    
            </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
        </section>
    
        <!-- FORM
    ================================================== -->
    <section class="pt-8 pt-md-11 pb-12" id="contact-us">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <!-- Card -->
                <div class="card card-border border-orange shadow-light-lg">
                    <div class="card-body">

                        <!-- Heading -->
                        <h2 class="font-weight-bold">
                        Contact Us
                        </h2>

                        <!-- Text -->
                        <p class="font-size-lg text-gray-800 mb-3 mb-md-5">
                        Send us an email if you are interesting in learning more information about the product or if you want to add your school!
                        </p>
                        
                        <!-- Form -->
                        <form method="POST" action="{{ url_for('main.contact') }}">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ render_land_field(form.full_name, placeholder="", type="name", class="form-control", label="Your name") }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ render_land_field(form.email, placeholder="example@email.com", type="email", class="form-control", label="Your email") }}
                                </div>
                            </div> <!-- / .row -->
                            <div class="row">
                                <div class="col-12">
                                    {{ render_land_field(form.message, class="form-control", rows="5", placeholder="Type your message here", label="Message") }}
                                </div>
                            </div> <!-- / .row -->
                            <div class="row align-items-center">
                                <div class="col-12 col-md">
                                
                                <!-- Submit -->
                                <button class="btn btn-primary mb-6 mb-md-0 lift" type="submit">
                                    Submit <i class="fe fe-arrow-right ml-3"></i>
                                </button>
            
                                </div>
                                <div class="col-12 col-md-auto">
            
                                <p class="font-size-sm text-muted mb-0">
                                    Your information will remain private and secure.
                                </p>
                                
                                </div>
                            </div> <!-- / .row -->
                        </form>
        
                    </div>
                </div>
    
            </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
{% endblock %}