/* custom.css */

/* color scheme
Blue Popsicle: #0f2862

Redline: #9e363a

Purple Shadow: #091f36

Grey Blue Leaf: #4f5f76
*/

/**********/
/* global */
/**********/
body {
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0rem !important;
}

a {
    color: rgb(147, 138, 245) !important; 
}

a:hover {
    color: rgb(106, 101, 164) !important; 
}

hr {
    height: 1px !important; 
    border: none !important; 
    color: rgba(0, 82, 120, 0.256) !important; 
    background-color: rgba(0, 79, 116, 0.256) !important; 
    width: 100% !important; 
    text-align: center !important; 
    margin: 0 auto !important;
}

.text-muted {
    color: #999 !important;
}

/**********/
/* header */
/**********/
.masthead {
    /* css3 cross background
    background:
    radial-gradient(circle, transparent 20%, #3F3F3F 20%, #3F3F3F 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, #3F3F3F 20%, #3F3F3F 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#1f1f1f 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #1f1f1f 8px, transparent 8px) -4px 0 !important;
    background-color: #3F3F3F !important;
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px !important; */

    background: -webkit-gradient(linear,left top,left bottom,from(rgba(22,22,22,.3)),color-stop(75%,rgba(22,22,22,.7)),to(#161616)) !important;
    /* background: radial-gradient(#3F3F3F -200%, #040404 70%) !important; */
    background: white !important;
}

/*******/
/* nav */
/*******/
.navbar-brand {
    color: rgb(21, 38, 77) !important;
}

.navbar-brand-login {
    color: #fff !important;
}

#mainNav {
    padding: 0px 2rem 0px 2rem !important;
    height: 50px !important;
}

/* add background color to nav on scroll  */
.fixed-top.scrolled {
    background-color: #15264d !important;
    transition: background-color 200ms linear;
    border-bottom: 1px solid rgb(12, 22, 45) !important;
    box-shadow: 0px 0px 10px 0px #000000 !important;
}
/* #fffff5 */

.scrolled .navbar-brand {
    color: #ffffff !important;
}

.nav-item a {
    color: #15264d !important;
}

.nav-item a:hover {
    color: #0e1831 !important;
}

.scrolled .nav-item a {
    color: #fff !important;
}

.scrolled .nav-item a:hover {
    color: rgb(180, 180, 180) !important;
}

.nav-item span {
    color: #999 !important;
}

.btn-nav {
    background-color: transparent !important;
    color: #15264d !important;
    border: 2px solid #15264d !important;
    padding: 7px !important;
    margin-top: 9px !important;
    letter-spacing: .01rem !important;
    font-size: 10px !important; 
}

.scrolled .btn-nav {
    background-color: #ffffff !important;
    color: #15264d !important;
}

.btn-nav:hover {
    color: #fff !important;
    background-color: #274185 !important;
}

.scrolled .btn-nav:hover {
    background-color: #cbcbcb !important;
    color: #15264d !important;
}

.virtuality-dorm {
    margin-left: -25px;
    margin-top: 30px;
    font-size: 10px;
    color: #999;
}

/*************/
/* animation */
/*************/
.arrow-down {
    width: 100%;
    position: absolute;
    bottom: 100px;
    margin: 50px 0 0 0;
    text-align: center;
}

/* second bouncing arrow
.arrow-down::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    border-right: 4px solid rgb(21, 38, 77);
    border-bottom: 4px solid rgb(21, 38, 77);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
} */

.arrow-down::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 4px solid rgb(21, 38, 77);
    border-bottom: 4px solid rgb(21, 38, 77);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}

@keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}

/* floating text test 
.arrow-text {
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    -webkit-animation: 3s arrow-text infinite ease;
    animation: 3s arrow-text infinite ease;
}

@-webkit-keyframes arrow-text {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}

@keyframes arrow-text {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
} */

/**************/
/* web rotate */
/**************/
#content {
    height: 100px !important;
    width: 450px !important;
}

.wr360_player {
    height: 600px !important;
    width: 100% !important;
}

.wr360_player .container {
    height: 600px !important;
    width: 100% !important;
}

#wr360image_wr360PlayerId {
    height: 460px !important;
    width: 460px !important;
    margin-left: 0px !important;
    margin-bottom: 30px !important;
    margin-top: 0px !important;
}

#wr360ZoomButton_wr360PlayerId {
    display: none !important;
}

#wr360FullScreenButton_wr360PlayerId {
    display: none !important;
}

#wr360ToolBar_wr360PlayerId {
    width: 185px !important;
}

.wr360_player .container .theme_panel .toolbar {
    padding: 3px 10px 0 12px !important;
}

/***********/
/* section */
/***********/
.contact-s {
    background-color: white !important;
    box-shadow: 0px 0px 10px 0px #000000 !important;
}

.footer-s {
    background-color: white !important;
}

.contact-section .social a {
    background: #15264d !important;
}

.about-section {
    background: -webkit-gradient(linear,left top,left bottom,from(#161616),color-stop(75%,rgba(22,22,22,.9)),to(rgba(22,22,22,.8)));
    background: linear-gradient(to bottom,#fff 0,#15264d 7%,#15264d 50%) !important;
    padding-top: 20rem !important;
}

.row-scroll {
    background-color: #e3e3e3;
    overflow-y: auto !important;
    height: 600px;
    padding-right: 26px !important;
    padding-left: 27px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.row-scroll .card {
    width: 500px;
    margin-left: 0px;
    margin-bottom: 20px;
    text-align: left;
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 20px !important;
    padding-bottom: 0px !important;
    box-shadow: 0px 0px 4px #3a3a3a !important;
    border-bottom: .25rem solid rgb(255, 0, 0) !important;
}

.card-layouts {
    text-align: center !important;
}

.row-image {
    padding-right: 25px !important;
    padding-left: 25px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.card-before-features {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
    border-bottom: 1px solid rgba(58, 58, 58, 0.358) !important;
    text-align: left !important;
}

.card-after-features {
    border-bottom-right-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top: 1px solid rgba(58, 58, 58, 0.358) !important;
    border-bottom: 0px solid transparent !important;
}

.btn-features {
    font-family: 'Roboto', sans-serif !important;
    background-color: #15264d !important;
    color: #ffffff !important;
    border: 1px solid #15264d !important;
    letter-spacing: .01rem !important;
    font-size: 10px !important;
    padding: 5px 10px 5px 10px !important;
    margin: 10px !important;
}

.btn-layout-disabled {
    font-family: 'Roboto', sans-serif !important;
    background-color: #999;
    color: rgb(122, 122, 122);
    border: 1px solid #999 !important;
    letter-spacing: .01rem !important;
    font-size: 10px !important;
    padding: 5px 10px 5px 10px !important;
    margin: 10px !important;
}

.btn-layout-disabled:hover {
    font-family: 'Roboto', sans-serif !important;
    background-color: #999;
    color: rgb(122, 122, 122);
    border: 1px solid #999 !important;
    letter-spacing: .01rem !important;
    font-size: 10px !important;
    padding: 5px 10px 5px 10px !important;
    margin: 10px !important;
}

/*******/
/* .rs */
/*******/
.rs-row {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.rs-row-features-1 {
    margin-bottom: 100px !important;
    height: 80px;
}

.rs-row-features-2 {
    margin-bottom: 200px !important;
}

.rs-row-features-3 {
    margin-bottom: 15px !important;
}

.rs-row-filler {
    height: 100px !important;
}

.rs-card {
    height: 100% !important;
}

.rs-icon {
    margin-bottom: 15px;
}

/**********/
/* ribbon */
/**********/
.ribbon{
	color: #fff;
    height: 170px;
    width: 260px;
    top: 12rem;
	position: absolute;
	background: #15264d;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.399);
	padding: 25px 10px 10px 40px;
	clear: both;
}
 
div.left_ribbon{
	color: #000;
	margin-left: -10px;
	float: left;
}
 
div.left_ribbon h2{
	margin: 0 12px;
}
 
div.left_ribbon::before{
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	left: -11px;
	content: "";
	border-bottom: 10px solid transparent;
	border-right: 10px solid #3c605d;
}
 
div.left_ribbon::after{
	display: block;
	width: 6px;
	height: 170px;
	position: absolute;
	bottom: 3px;
	right: -1px;
	content: "";
	border: 1px solid rgba(0,0,0,.3);
	transform: skew(0deg,45deg);
	-ms-transform: skew(0deg,45deg); /* IE 9 */
	-webkit-transform: skew(0deg,45deg); /* Safari and Chrome */
	-o-transform: skew(0deg,45deg); /* Opera */
	-moz-transform: skew(0deg,45deg); /* Firefox */
	background: #070d1a;
}

.room_summary_ribbon {
    z-index: 10;
	color: #000;
	margin-left: -10px;
    float: left;
    margin: auto;
    z-index: 10;
    color: #fff;
    height: 140px;
    width: 260px;
	position: absolute;
	background: #64a19d;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.399);
	padding: 20px;
	clear: both;
}

div.room_summary_ribbon::before{
    z-index: 10;
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	left: -2px;
	content: "";
	border-bottom: 10px solid transparent;
	border-right: 10px solid rgb(0, 80, 116);
}

div.room_summary_ribbon::after{
    z-index: 10;
	display: block;
	width: 6px;
	height: 140px;
	position: absolute;
	bottom: 3px;
	right: -1px;
	content: "";
	border: 1px solid rgba(0,0,0,.3);
	transform: skew(0deg,45deg);
	-ms-transform: skew(0deg,45deg); /* IE 9 */
	-webkit-transform: skew(0deg,45deg); /* Safari and Chrome */
	-o-transform: skew(0deg,45deg); /* Opera */
	-moz-transform: skew(0deg,45deg); /* Firefox */
	background: #426a67;
}

.room_summary_ribbon p {
    margin-bottom: 1rem !important;
}

.room_summary_ribbon .img-fluid {
    fill: #fff;
}

.ribbon-flash {
	color: #fff;
    height: 70px;
    width: 260px;
    top: 6rem;
	position: absolute;
	background: #64a19d;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.399);
	padding: 25px 10px 10px 40px;
	clear: both;
}

.left_ribbon-flash {
	color: #000;
	margin-left: -10px;
	float: left;
}
 
.left_ribbon-flash::before{
	display: block;
	width: 10px;
	height: 0px;
	position: absolute;
	bottom: -10px;
	left: -11px;
	content: "";
	border-bottom: 10px solid transparent;
	border-right: 10px solid #3c605d;
}
 
.left_ribbon-flash::after{
	display: block;
	width: 6px;
	height: 70px;
	position: absolute;
	bottom: 3px;
	right: -1px;
	content: "";
	border: 1px solid rgba(0,0,0,.3);
	transform: skew(0deg,45deg);
	-ms-transform: skew(0deg,45deg); /* IE 9 */
	-webkit-transform: skew(0deg,45deg); /* Safari and Chrome */
	-o-transform: skew(0deg,45deg); /* Opera */
	-moz-transform: skew(0deg,45deg); /* Firefox */
	background: #3c605d;
}

/* ribbon text */
.p-viewing {
    font-size: 15px !important;
}

.p-college {
    font-size: 10px !important;
}

.p-building {
    font-size: 10px !important;
}

.p-room {
    font-size: 10px !important;
}

/***********/
/* general */
/***********/
@media (min-width: 992px) {
    .featured-text {
        padding: 0 0 0 2rem;
        border-left: .5rem solid #64a19d;
    }
}

.room-display i {
    font-size: 15px !important;
    margin: 50px 20px 20px 20px !important;
    padding: 10px 11px 10px 11px !important;
    border: 3px solid #15264d !important;
    border-radius: 100% !important;
}

.card-body i {
    color: #15264d !important;
}

.text-navy {
    color: #15264d !important;
}

.icon-features {
    font-size: 20px !important; 
}

.features-subtitle {
    font-size: 12px !important;
}

.room-display {
    margin-top: 8rem !important;
}

#room-title {
    font-size: 2rem !important;
}

.btn-layout {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    letter-spacing: .01rem !important;
    font-size: 10px !important;
    padding: 5px 10px 5px 10px !important;
    margin-bottom: 100px !important;
}

.login100-form-btn.btn-back {
    background-color: #999;
    color: #fff !important;
    margin-right: 30px;
    margin-bottom: 20px;
}

.login100-form-btn.btn-back:hover {
    background-color: rgb(124, 124, 124);
}

.login100-form-btn.btn-home {
    background-color: #999;
    color: #fff !important;
    margin-bottom: 20px;
}

.login100-form-btn.btn-home:hover {
    background-color: rgb(124, 124, 124);
}

#faq {
    margin-top: 100px !important;
}

.card-body i {
    width: 50px;
    text-align: center;
    font-size: 15px;
    color: #355cb5 !important;
}

.content-divider {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    position: relative;
}

.content-divider>span {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
}

.content-divider>span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    z-index: -1;
}

.index-desc {
    text-align: center;
    margin-bottom: 30px;
}

.index-footer {
    text-align: center;
    color: #999;
}

.text-bold {
    font-weight: bold !important;
}

.see-more {
    font-size: 10px !important;
}

.icon-object {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;

    border-radius: 100%;
    color: #999;
    margin: 10px 15px 40px 15px;
    border-width: 3px;
    border-style: solid;
    padding: 25px;
    display: inline-block;
}

.sl-object {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;

    border-radius: 100%;
    color: #999;
    margin: auto auto 28px auto;
    border-width: 3px;
    border-style: solid;
    padding: 25px;
    display: inline-block;
}

.icon-object>i {
    font-size: 32px;
    top: 0;
    color: #999;
}

.no_link {
    margin-top: 10rem !important;
}

.want_link {
    font-size: 12px !important;
    margin-top: 1rem !important;
}

/******************/
/* display images */
/******************/
.img-display-main {
    max-width: 100%;
    height: auto;
}

.img-display {
    max-width: 100%;
    height: auto;
    margin: 10px 0px;
}

.ext-imgs {
    padding: 0px 10px;
}

.img-dis-col {
    padding-left: 5px !important; 
    padding-right: 5px !important; 
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

/*********/
/* login */
/*********/
.err {
    font-size: 10px;
}

/**********************/
/* room select ribbon */
/**********************/
#ribbon_room_select {
    top: 26rem !important;
    color: #fff;
    height: 260px;
    width: 300px;
    top: 15rem;
	position: absolute;
	background: #64a19d;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.399);
	padding: 25px 10px 10px 40px;
	clear: both;
}

div.left_ribbon#ribbon_room_select::after{
	display: block;
	width: 6px;
	height: 260px;
	position: absolute;
	bottom: 3px;
	right: -1px;
	content: "";
	border: 1px solid rgba(0,0,0,.3);
	transform: skew(0deg,45deg);
	-ms-transform: skew(0deg,45deg); /* IE 9 */
	-webkit-transform: skew(0deg,45deg); /* Safari and Chrome */
	-o-transform: skew(0deg,45deg); /* Opera */
	-moz-transform: skew(0deg,45deg); /* Firefox */
	background: #3c605d;
}

/***********/
/* select2 */
/***********/
#display .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent !important;
}

#display .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    font-size: 12px !important;
}

#display .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid #fff !important;
}

#display .scrolled .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid white !important; 
}

#display .select2-selection__placeholder {
    color: white !important;
    font-size: 12px !important;
}

#display #select2-college-container {
    color: white !important;
}

#display #select2-room-container {
    color: white !important;
}

#display .select2-container--open .select2-dropdown {
    top: -15px !important;
}

#display .select2-dropdown {
    background-color: #fff !important;
    color: #fff !important;
    border: 1px solid #b8b8b8 !important;
}

#display .select2-search--dropdown {
    padding: 10px !important;
}

/* search bar css */
#display select.single-select {
    margin: 5px !important;
    background-color: #ffffff80 !important;
    color: white !important;
}

#display .select2-container {
    margin: 20px 0 0 0 !important;
    width: 215px !important;
}

.room_select-btn {
    font-family: 'Roboto', sans-serif !important;
    background-color: transparent !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    letter-spacing: .01rem !important;
    font-size: 10px !important;
    padding: 5px 10px 5px 10px !important;
    margin-top: 30px !important;
}

.room_select-btn:hover {
    font-family: 'Roboto', sans-serif !important;
    background-color: rgba(255, 255, 255, 0.158) !important;
}

.p-room-header {
    margin-bottom: 15px !important;
}

.p-room-info {
    margin-top: 4px !important;
    font-size: 8px !important;
}

.select2-results__options {
    color: #999 !important;
}

/* .select2-selection__clear {
    display: none !important;
} */

#signup .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #999 transparent transparent transparent !important;
}

#signup .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #686868;
    font-size: 12px !important;
}

#signup .select2-selection--single {
    background-color: #e6e6e6 !important;
    border: 1px solid transparent !important;
    text-align: left !important;
}

#signup .scrolled .select2-selection--single {
    background-color: transparent !important;
    border: 1px solid white !important; 
}

#signup .select2-selection__placeholder {
    color: #686868 !important;
    font-size: 12px !important;
}

#signup #select2-college-container {
    color: #999 !important;
}

#signup #select2-room-container {
    color: #999 !important;
}

#signup .select2-container--open .select2-dropdown {
    top: -15px !important;
}

#signup .select2-dropdown {
    background-color: #fff !important;
    color: #fff !important;
    border: 1px solid #b8b8b8 !important;
}

#signup .select2-search--dropdown {
    padding: 10px !important;
}

/* search bar css */
#signup select.single-select {
    margin: 5px !important;
    background-color: #ffffff80 !important;
    color: white !important;
}

#signup .select2-container {
    margin: 15px 0 0 0 !important;
    width: 100% !important;
}

#signup .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid transparent !important;
}

#signup .content-divider {
    width: 100% !important;
}

#signup .option-placeholder {
    color: #999 !important;
}

/************/
/* dropdown */
/************/
  /* The dropdown container */
  .dropdown {
    right: 0;
    left: auto;
    overflow: hidden;
    position: unset !important;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: #999;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
  }
  
  /* Add a red background color to navbar links on hover */
  .dropdown:hover .dropbtn {
    background-color: #e7e7e7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    right: 32px;
    left: auto;
    position: absolute;
    background-color: #e7e7e7;
    min-width: 215px;
    z-index: 1;

    border-bottom: .25rem solid rgb(255, 0, 0) !important;
    border-bottom-left-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    border-top-left-radius: .25rem !important;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
  }

  /* Paragraphs inside the dropdown */
  .dropdownp {
    float: none;
    color: #999;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.about-content {
    width: 600px !important;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.about-svg {
    width: 45px !important;
}

.about-img {
    width: 150px !important;
}

.img-object {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    overflow: hidden;
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;

    border-radius: 100%;
    color: #999;
    margin: 15px;
    border-width: 3px;
    border-style: solid;
    padding: 0px;
    display: inline-block;
}

.features-svg {
    width: 25px;
    margin-right: 15px;
    margin-left: 10px;
}


/*****************/
/* slideshow css */
/*****************/
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;

    border-bottom: .25rem solid #fff !important;
    border-bottom-left-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #15264d !important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    background-color: rgba(255, 255, 255, 0.25);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    margin-left: 15px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #fff;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #fff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #fff;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/* override bootstrap */
.fade:not(.show) {
    opacity: 1 !important;
}

/* show first slide on refresh */
.mySlides:first-of-type {
    display: block;
    opacity: 1 !important;
}

.float-right {
    float: right;
}

.show-hide {
    height: 15px;
    width: 15px;
    margin-bottom: 6px;
    margin-right: 2px;
}

/*******************************/
/* signup and add link select2 */
/*******************************/
#signup .single-select {
    width: 100%;
    margin-bottom: 10px !important;
    border: 1px solid #999;
    border-radius: 2px;
    color: #999;
    font-size: 12px !important;
}

#residentof .single-select {
    width: 100%;
}

.icon-qtip_signup {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
}

.icon-qtip_display {
    width: 15px;
    height: 15px;
    margin: auto;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* over ride current qtip style */
.qtip-default {
    border: 1px solid #ffffff;
    background-color: rgb(255,0,0, 0.85);
    color: #fff;
}

.wrap-login100 {
    width: 350px;
    background: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: .25rem solid rgb(255, 0, 0) !important; 
    border-bottom-left-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}
