{% extends "gabase.html" %}

{% block title %} About {% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block base_nav %}
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-page="nav">
            <img class="logo" src="{{ url_for('static', filename='img/squares.png') }}">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for('main.index') }}">Abode</a>
        <span class="virtuality-dorm">Dorm</span>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" target="_blank" href="https://www.surveymonkey.com/r/C9CM2BX">Feedback</a>
            </li>
        </ul>
    </nav>
    <!-- end nav -->
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <!-- login section -->
    <section id="login" class="login-section text-center">
        <div class="limiter">
            <div class="container-login100">
                <div class="about-content wrap-login100 p-l-30 p-r-30 p-t-40 p-b-20">
                    <div class="icon-object obj-muted">
                        <img class="about-svg" src="{{ url_for('static', filename='img/svg/step1.svg') }}">
                    </div>
                    <div class="icon-object obj-muted">
                        <img class="about-svg" src="{{ url_for('static', filename='img/svg/step2.svg') }}">
                    </div>
                    <div class="icon-object obj-muted">
                        <img class="about-svg" src="{{ url_for('static', filename='img/svg/step3.svg') }}">
                    </div>

                    <div class="content-divider">
                        <span class="fs-15">
                            WHAT IS ABODE?
                        </span>
                    </div>
                    <div class="index-desc">
                        <span class="fs-12">
                            Incoming college freshman need to plan ahead. These dedicated, passionate students already have a lot on their plate, and planning for dorm room living is one of these challenges. 
                            <br>Most universities don’t have detailed dorm room layouts, leading to confusion and misinformation about how much space is provided and what students actually need to bring along with them. Abode can fix this problem.
                            <br> Through the use of three unique softwares, campus dorm rooms and houses can be scanned resulting in a 3D model applicable in a website as seen below. Students can interact with the model, allowing them to customize their room before moving in. It will inform students of the characteristics and dimensions of the space, giving students enough information to adequately prepare for move-in day.
                        </span>
                    </div>

                    <div class="content-divider">
                        <span class="fs-15">
                            SUPPORT ABODE
                        </span>
                    </div>
                    <div class="index-desc">
                        <span class="fs-12">
                                First and foremost, if you have donated to Abode in the past, Thank You! Your donations make Abode a reality, and I wouldn't be able to make this happen without your support. 
                            <br><a href="https://www.gofundme.com/virtuality" target="_blank">Support through GoFundMe</a> or leave your <a href="https://www.surveymonkey.com/r/C9CM2BX" target="_blank">product feedback</a>
                            <br>If you are thinking about donating, please visit the GoFundMe link above to learn more about how your funds will be used in the development of this project. Your support through donations is extremely generous and will help me get this great idea off the ground! I am grateful for your contribution and I am excited about the results and implementation of Abode.
                        </span>
                    </div>

                    <div class="content-divider">
                        <span class="fs-15">
                            ABOUT ME
                        </span>
                    </div>
                    <div class="img-object obj-muted">
                        <img class="about-img" src="{{ url_for('static', filename='img/aboutme_img.jpeg') }}">
                    </div>
                    <div class="index-desc">
                        <span class="fs-12">
                            My name is Ben Foltz, and I am a sophmore at the College of Wooster. I have been developing business ideas since I was a child, and I know I was born to be an entrepreneur. My most recent project and the one I am most passionate about is a website for an incoming college freshman to help plan their dorm room space and eliminate difficulty with the process. 
                            <br>I had no idea what to expect entering my freshman year at Wooster, and I found out too late that I couldn’t move the desks in my room. Abode will provide a detailed 3D scan of dorm rooms from universities across the country, allowing students to customize their room beforehand and inform them of the dimensions and characteristics of the space. I want to empower students throughout the housing selection process, and I know the Abode can help make this process much easier.  
                        </span>

                        <div class="container-login100-form-btn p-t-45">
                            <a href="{{ url_for('main.index') }}">
                                <button class="login100-form-btn">
                                    back
                                </button>
                            </a>
                        </div>
                    </div>

                    <div class="index-footer">
                        <span class="fs-12">
                            <i><span class="text-bold">SEE</span> your space.</i>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- end login section -->
{% endblock %}