{% extends "gabase.html" %}

{% block title %} Dean Panel {% endblock %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<!-- todo[p]: figure out flash messages -->
<!-- login section -->
<section id="login" class="login-section">
    <div class="limiter">
        <div id="content-center" class="container-login100">
            <div class="wrap-dean100 p-l-30 p-r-30 p-t-40 p-b-20">
                <div class="small text-black-100">
                    <a href="{{ url_for('main.display')}}">Room Display </a>/ Dean Panel
                </div>
                <div class="small text-black-100">
                    <!-- todo[p]: fixed students cant login - however should they email they receive confirm their email address or should it automatically confirm? -->
                    <a href="{{ url_for('main.add_student') }}"><button class="dean-btn">Add student</button></a>

                    <table class="table datatable-show-all p-table">
                        <thead class="p-thead">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Room</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in students %}
                                <tr>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <!-- todo[p]: make this display room name instead of: [250's resident, test] -->
                                    <td>{{ user.rooms }}</td>
                                    <td><a href="{{ url_for('main.delete_user', user_id=user.id) }}"><img class="svg-trash" src="{{ url_for('static', filename='img/svg/delete.svg') }}"></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <!-- todo[p]: if password is encrypted, then don't display it in the table -->
                    </table>

                    <!-- todo[p]: add button to send students emails with their email, password etc. -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end login section -->
{% endblock %}

