{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% from "security/_macros.html" import render_land_field %}

{% block content %}
<!-- ========== index -->
    <section class="pt-4 pt-md-11">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
  
              <!-- Image -->
              <img src="{{ url_for('static', filename='landing_static/img/gif/gif_tester.gif') }}" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">
  
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">
  
              <!-- Heading -->
              <h1 class="display-3 text-center text-md-left">
                The complex move in <br>
                process made <span class="text-primary font-weight-bold">easy</span>.
              </h1>
  
              <!-- Text -->
              <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                Everything you need for a dorm and more. Resources for parents, students, and schools.
              </p>
  
              <!-- Buttons -->
              <div class="text-center text-md-left">
                <a href="#learnmore" class="btn btn-primary shadow lift mr-5" data-toggle="smooth-scroll">
                  Learn more <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
                </a>
                <a href="#contact" class="btn btn-primary-soft lift" data-toggle="smooth-scroll">
                    Contact Us <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
                </a>
              </div>
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section>
  
      <!-- FEATURES
      ================================================== -->
      <section class="py-8 py-md-11 border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4" data-aos="fade-up">
  
              <!-- Icon -->
              <div class="icon text-primary mb-3">
                    <i class="fe-icon-35 fe fe-book-open"></i>
              </div>
  
              <!-- Heading -->
              <h3>
                Designed for students
              </h3>
  
              <!-- Text -->
              <p class="text-muted mb-6 mb-md-0">
                Students gain the ability to view all apsects of their room before they arrive on campus.
              </p>

              <!-- Item -->
              <div class="d-flex mt-3">

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </div>

                    <!-- Text -->
                    <p class="text-success">
                        Room layout
                    </p>

                </div>

                <!-- Item -->
              <div class="d-flex mt-2">

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </div>

                    <!-- Text -->
                    <p class="text-success">
                        Directions to essential facilities
                    </p>

                </div>

                <div class="d-flex mt-2 mb-4">

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </div>

                    <!-- Text -->
                    <p class="text-success">
                        See what your school provides
                    </p>

                </div>

                <!-- Buttons
                <div class="text-center text-md-left">
                    <a href="#" class="btn btn-primary-soft lift">
                      For students <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
                    </a>
                </div> -->
  
            </div>
            <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">
  
              <!-- Icon -->
              <div class="icon text-primary mb-3">
                    <i class="fe-icon-35 fe fe-users"></i>
              </div>
  
              <!-- Heading -->
              <h3>
                Simplicity for parents 
              </h3>
  
              <!-- Text -->
              <p class="text-muted">
                Parents can rest easy knowing their student will be fully prepared for move in day and the rest of the year. 
              </p>

            <div class="d-flex mt-2">

                <!-- Check -->
                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                    <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p class="text-success">
                    Prepared on the first day
                </p>

            </div>

            <div class="d-flex mt-2 mb-4">

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </div>
    
                    <!-- Text -->
                    <p class="text-success">
                        Answers the hard questions
                    </p>
    
                </div>

              <!-- Buttons
              <div class="text-center text-md-left">
                    <a href="#" class="btn btn-primary-soft lift">
                      For parents <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
                    </a>
                </div> -->
  
            </div>
            <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
  
              <!-- Icon -->
              <div class="icon text-primary mb-3">
                    <i class="fe-icon-35 fe fe-briefcase"></i>
              </div>
  
              <!-- Heading -->
              <h3>
                Management for schools 
              </h3>
  
              <!-- Text -->
              <p class="text-muted mb-0">
                Proper back-end management built with the students security in mind which does not limit the schools control over their rooms.
              </p>

              <div class="d-flex mt-3">

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </div>

                    <!-- Text -->
                    <p class="text-success">
                        Control who can view your rooms
                    </p>

                </div>

                <div class="d-flex mt-2 mb-4">

                    <!-- Check -->
                    <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                        <i class="fe fe-check"></i>
                    </div>

                    <!-- Text -->
                    <p class="text-success">
                        Simple to use
                    </p>

                </div>

                <!-- Buttons
                <div class="text-center text-md-left">
                    <a href="#" class="btn btn-primary-soft lift">
                        For schools <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
                    </a>
                </div> -->
  
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section>

      <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-off-white">
            <svg viewBox="0 0 2880 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M720 28H0V56H995.5H1639.5H2880V28H2160C2160 28 1874 -9.82909e-10 1440 0C1006 9.829e-10 720 28 720 28Z" fill="currentColor"/>
            </svg>
        </div>
    </div>
  
      <!-- ABOUT
      ================================================== -->
      <section id="learnmore" class="pt-8 pt-md-11 bg-off-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-10 text-center">
        
                    <!-- Badge -->
                    <span class="badge badge-dark mb-4">
                        <span class="h6 font-weight-bold text-uppercase">PARENTS/STUDENTS</span>
                    </span>

                    <!-- Heading -->
                    <h2>
                    See your room and finally find the right information.
                    </h2>
        
                    <!-- Text -->
                    <p class="font-size-lg text-muted mb-7 mb-md-9">
                    Take a look at what Abode Interior offers your group. 
                    </p>
        
                </div>
            </div> <!-- / .row -->

          <div class="row align-items-center">
            <div class="col-12 col-md-7 col-lg-6" data-aos="fade-right">

                <!-- Heading -->
                <h2>
                    See  
                    <span class="text-primary">all aspects</span> of your room.
                </h2>
    
                <!-- Text -->
                <p class="font-size-lg text-muted mb-6">
                    Our summary page is easy to navigate, and provides you with the most important information about your room.
                </p>
    
                <!-- List -->
                <div class="d-flex">
    
                    <!-- Icon -->
                    <div class="icon text-primary">
                        <!-- Icon -->
                        <div class="icon text-primary mb-3">
                            <i class="fe-icon-25 fe fe-file-text"></i>
                        </div>
                    </div>
    
                    <div class="ml-5">
    
                    <!-- Heading -->
                    <h4 class="mb-1">
                        Room summary
                    </h4>
    
                    <!-- Text -->
                    <p class="text-muted mb-6">
                        Helpful dorm details, room features, dimensions and commute times with integrated maps.
                    </p>
    
                    </div>
    
                </div>
                <div class="d-flex">
    
                    <!-- Icon -->
                    <div class="icon text-primary">
                        <!-- Icon -->
                        <div class="icon text-primary mb-3">
                            <i class="fe-icon-25 fe fe-box"></i>
                        </div>
                    </div>
    
                    <div class="ml-5">
    
                    <!-- Heading -->
                    <h4 class="mb-1">
                        Interactive model
                    </h4>
    
                    <!-- Text -->
                    <p class="text-muted mb-6">
                        The interactive model helps you see the layout of your room while letting you know what you can and cannot move.
                    </p>
    
                    </div>
    
                </div>

                <div class="d-flex">
    
                        <!-- Icon -->
                        <div class="icon text-primary">
                            <!-- Icon -->
                            <div class="icon text-primary mb-3">
                                <i class="fe-icon-25 fe fe-phone"></i>
                            </div>
                        </div>
        
                        <div class="ml-5">
        
                        <!-- Heading -->
                        <h4 class="mb-1">
                            Contact
                        </h4>
        
                        <!-- Text -->
                        <p class="text-muted mb-6">
                            See numbers you can call if you have more questions or need more help!
                        </p>
        
                        </div>
        
                    </div>
    
                </div>
                <div class="col-12 col-md-5 col-lg-6">
    
                <div class="w-md-150 w-lg-130 position-relative" data-aos="fade-left">
    
                    <!-- Image -->
                    <div class="img-skewed img-skewed-left">
    
                    <!-- Image -->
                    <img src="{{ url_for('static', filename='landing_static/img/display_screenshot.png') }}" class="screenshot img-fluid img-skewed-item" alt="...">
    
                    </div>
    
                </div>
    
            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section>

      <!-- SUPPORT
        ================================================== -->
        <section class="pt-12 pt-lg-12 pb-md-12 pb-lg-5 bg-off-white">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-12 col-md-6">
                
                        <!-- Images -->
                        <div class="row">
                        <div class="col-6 mt-8 mr-n5" data-aos="fade-up">
                            
                            <img src="{{ url_for('static', filename='landing_static/img/placeholder.png') }}" alt="..." class="img-fluid mb-4 rounded">
            
                            <img src="{{ url_for('static', filename='landing_static/img/placeholder.png') }}" alt="..." class="img-fluid rounded">
            
                        </div>
                        <div class="col-6" data-aos="fade-up" data-aos-delay="100">
                            
                            <img src="{{ url_for('static', filename='landing_static/img/placeholder.png') }}" alt="..." class="img-fluid mb-4 rounded">
            
                            <img src="{{ url_for('static', filename='landing_static/img/map-integration.png') }}" alt="..." class="img-fluid rounded">
            
                        </div>
                        </div> <!-- / .row -->
            
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
            
                        <!-- Heading -->
                        <h2>
                        There's more than <br>
                        <span class="text-primary">what you see</span>.
                        </h2>
            
                        <!-- Text -->
                        <p class="font-size-lg text-muted mb-6">
                            In order to provide you with the most information you can see images of your room, dining halls and even the lounges. *more here*
                        </p>
            
                        <!-- List -->
                        <div class="row">
                        <div class="col-12 col-lg-6">
                            
                            <!-- Item -->
                            <div class="d-flex">
            
                            <!-- Check -->
                            <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                                <i class="fe fe-check"></i>
                            </div>
                            
                            <!-- Text -->
                            <p class="text-success">
                                Multiple images
                            </p>
            
                            </div>
            
                            <!-- Item -->
                            <div class="d-flex">
            
                            <!-- Check -->
                            <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                                <i class="fe fe-check"></i>
                            </div>
                            
                            <p class="text-success mb-lg-0">
                                The essentials
                            </p>
            
                            </div>
            
                        </div>
                        <div class="col-12 col-lg-6">
            
                            <!-- Item -->
                            <div class="d-flex">
            
                            <!-- Check -->
                            <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                                <i class="fe fe-check"></i>
                            </span>
                            
                            <!-- Text -->
                            <p class="text-success">
                                Maps integrated
                            </p>
            
                            </div>
            
                        </div>
                    </div> <!-- / .row -->
        
                </div>
                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </section>

        <!-- FLEXIBILITY
        ================================================== -->
        <section class="pt-8 pt-md-10 bg-off-white">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">

                    <!-- Badge -->
                    <span class="badge badge-dark mb-3">
                        <span class="h6 text-uppercase">
                            TESTIMONIALS
                        </span>
                    </span>
      
                  <!-- Heading -->
                  <h1>
                    See what others have to say
                  </h1>
      
                  <!-- Text -->
                  <p class="font-size-lg text-muted mb-7 mb-md-9">
                    *this is the description for the testimonials. should lowkey clout what they say below*
                  </p>
      
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12 col-md-4 offset-2" data-aos="fade-up" data-aos-delay="100">
                  
                  <!-- Card -->
                  <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">
                    
                    <!-- Image -->
                    <img src="{{ url_for('static', filename='landing_static/img/placeholder.png') }}" alt="..." class="card-img-top">
      
                    <!-- Shape -->
                    <div class="position-relative">
                      <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
                        </svg>
                      </div>
                    </div>
      
                    <!-- Body -->
                    <div class="card-body position-relative">
      
                      <!-- Badge -->
                      <div class="position-relative text-right mt-n8 mr-n4 mb-3">
                        <span class="badge badge-info">
                          <span class="h6 text-uppercase">Gilmour</span>
                        </span>
                      </div>
                      
                      <!-- Heading -->
                      <h3>
                        James Polak
                      </h3>
      
                      <!-- Text -->
                      <p class="text-muted">
                        "These need to be short, but they can still be helpful. This is probably a good length to work with."
                      </p>
      
                      <!-- Link -->
                      <a href="#!" class="font-weight-bold text-decoration-none">
                        See info <i class="fe fe-arrow-right ml-3"></i>
                      </a>
      
                    </div>
      
                  </div>
      
                </div>
                <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="200">
                  
                  <!-- Card -->
                  <div class="card shadow-light-lg lift lift-lg">
                    
                    <!-- Image -->
                    <img src="{{ url_for('static', filename='landing_static/img/placeholder.png') }}" alt="..." class="card-img-top">
      
                    <!-- Shape -->
                    <div class="position-relative">
                      <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
                        </svg>
                      </div>
                    </div>
      
                    <!-- Body -->
                    <div class="card-body position-relative">
      
                      <!-- Badge -->
                      <div class="position-relative text-right mt-n8 mr-n4 mb-3">
                        <span class="badge badge-info">
                          <span class="h6 text-uppercase">Gilmour</span>
                        </span>
                      </div>
                      
                      <!-- Heading -->
                      <h3>
                        Kathy Popp
                      </h3>
      
                      <!-- Text -->
                      <p class="text-muted">
                        "This is what happens when I recieve a long, and super long, quote from someone. It may be very nice but the formatting on the page is not the best when it gets this long."
                      </p>
      
                      <!-- Link -->
                      <a href="#!" class="font-weight-bold text-decoration-none">
                        See info <i class="fe fe-arrow-right ml-3"></i>
                      </a>
      
                    </div>
      
                  </div>
      
                </div>
              </div> <!-- / .row -->
            </div> <!-- / .container -->
          </section>
  
      <!-- CURVE
        ================================================== -->
        <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-red-dark">
                <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M720 0C1440 240 2160 240 2160 240H2880V480H-0.000244141V0H720Z" fill="currentColor"/>
                </svg>
            </div>
        </div>
  
      <!-- ABOUT
      ================================================== -->
      <section class="pb-10 pt-12 pt-md-12 bg-red-dark text-white">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                
                <!-- Badge -->
                <span class="badge badge-dark mb-3">
                    <span class="h6 text-uppercase">
                        SCHOOLS
                    </span>
                </span>

                <!-- Heading -->
                <h2 class="font-weight-bold">
                Utilize your rooms to increase attendence, your rooms are not wasted space!
                </h2>
    
                <!-- Text -->
                <p class="font-size-lg text-muted mb-9">
                Abode Interior is where you can come for all those overlooked, important details about your room.
                </p>
    
            </div>
            </div> <!-- / .row -->
            <div class="row align-items-center justify-content-between mb-12 mb-md-13">
                    <div class="col-12 col-md-6">
                        <div class="row no-gutters">
                            <div class="col-4">
                                
                                <!-- Image -->
                                <div class="w-150 mt-9 p-1 bg-white shadow-lg">
                                <img src="{{ url_for('static', filename='landing_static/img/steps/step_1.png') }}" class="img-fluid" alt="...">
                                </div>
                
                            </div>
                            <div class="col-4">
                                
                                <!-- Image -->
                                <div class="w-150 p-1 bg-white shadow-lg">
                                <img src="{{ url_for('static', filename='landing_static/img/steps/step_2.png') }}" class="img-fluid" alt="...">
                                </div>
                
                            </div>
                            <div class="col-4 position-relative">
                                
                                <!-- Image -->
                                <div class="w-150 mt-11 float-right p-1 bg-white shadow-lg">
                                <img src="{{ url_for('static', filename='landing_static/img/steps/step_3.png') }}" class="img-fluid" alt="...">
                                </div>
                
                            </div>
                        </div> <!-- / .row -->                
        
                    </div>
                    <div class="text-white col-12 col-md-6 col-xl-5">
            
                        <!-- Heading -->
                        <h2>
                        Simple <span class="text-primary">three</span> step process.
                        </h2>
            
                        <!-- Text -->
                        <p class="font-size-lg text-muted mb-6 mb-md-4">
                            *i really cant figure out what to put here but needs to be long because if it isnt long it really wont fill the space and I kinda need it to fill this space*
                        </p>

                        <!-- List -->
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                
                                <!-- Item -->
                                <div class="d-flex">
                
                                <!-- Check -->
                                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                                    <i class="fe fe-check"></i>
                                </div>
                                
                                <!-- Text -->
                                <p class="text-success">
                                    Quick
                                </p>
                
                                </div>
                
                                <!-- Item -->
                                <div class="d-flex">
                
                                <!-- Check -->
                                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                                    <i class="fe fe-check"></i>
                                </div>
                                
                                <p class="text-success mb-lg-0">
                                    Colored
                                </p>
                
                                </div>
                
                            </div>
                            <div class="col-12 col-lg-6">
                
                                <!-- Item -->
                                <div class="d-flex">
                
                                <!-- Check -->
                                <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                                    <i class="fe fe-check"></i>
                                </span>
                                
                                <!-- Text -->
                                <p class="text-success">
                                    All angles
                                </p>
                
                                </div>
                
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div> <!-- / .row -->
                <div class="row align-items-center">
                    <div class="col-12 col-md-7 col-lg-6" data-aos="fade-right">
        
                        <!-- Heading -->
                        <h2>
                            Minimal and easy to use management page
                            for <span class="text-primary">schools</span>.
                        </h2>
            
                        <!-- Text -->
                        <p class="font-size-lg text-muted mb-6">
                            Our summary page is easy to navigate, and provides you with the most important information about your room.
                        </p>
            
                        <!-- List -->
                        <div class="d-flex">
            
                            <!-- Icon -->
                            <div class="icon text-primary">
                                <!-- Icon -->
                                <div class="icon text-primary mb-3">
                                    <i class="fe-icon-25 fe fe-user-plus"></i>
                                </div>
                            </div>
            
                            <div class="ml-5">
            
                            <!-- Heading -->
                            <h4 class="mb-1">
                                Add users with ease 
                            </h4>
            
                            <!-- Text -->
                            <p class="text-muted mb-6">
                                Helpful dimensions of all aspects of the room.
                            </p>
            
                            </div>
            
                        </div>
        
                        <div class="d-flex">
            
                                <!-- Icon -->
                                <div class="icon text-primary">
                                    <!-- Icon -->
                                    <div class="icon text-primary mb-3">
                                        <i class="fe-icon-25 fe fe-eye-off"></i>
                                    </div>
                                </div>
                
                                <div class="ml-5">
                
                                <!-- Heading -->
                                <h4 class="mb-1">
                                    Control your rooms
                                </h4>
                
                                <!-- Text -->
                                <p class="text-muted mb-6">
                                    See how long it will take you to get to essential businesses near by.
                                </p>
                
                                </div>
                
                            </div>
            
                        </div>
                        <div class="col-12 col-md-5 col-lg-6">
            
                        <div class="w-md-150 w-lg-130 position-relative" data-aos="fade-left">
            
                            <!-- Image -->
                            <div class="img-skewed img-skewed-left">
            
                            <!-- Image -->
                            <img src="{{ url_for('static', filename='landing_static/img/back-end.png') }}" class="screenshot img-fluid img-skewed-item" alt="...">
            
                            </div>
            
                        </div>
            
                    </div>
                </div> <!-- / .row -->
        </div> <!-- / .container -->
        </section>

      <!-- FAQ
      ================================================== -->
      <section class="bg-red-dark">
        <div class="container pb-12 pt-8 pt-md-8">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center">
    
                <!-- Heading -->
                <h1 class="display-4 text-white">
                    *more answers*
                </h1>
    
                <!-- Text -->
                <p class="font-size-lg text-muted mb-6 mb-md-8">
                    *look at all these other things abode offers schools*
                </p>
    
            </div>
            <div class="col-12 col-md-6">

                <!-- Item -->
                <div class="d-flex">
    
                    <!-- Badge -->
                    <div class="badge badge-lg badge-rounded-circle badge-success">
                    <span>?</span>
                    </div>
    
                    <div class="ml-5">
    
                    <!-- Heading -->
                    <h4 class="text-white">
                        *what you can and cannot move*
                    </h4>
    
                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-8">
                        Absolutely. The Bootstrap Themes license allows you to build a websites for personal use or for a client.
                    </p>
    
                    </div>
    
                </div>
    
                <!-- Item -->
                <div class="d-flex">
    
                    <!-- Badge -->
                    <div class="badge badge-lg badge-rounded-circle badge-success">
                    <span>?</span>
                    </div>
    
                    <div class="ml-5">
    
                    <!-- Heading -->
                    <h4 class="text-white">
                        *key information about your room*
                    </h4>
    
                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-0">
                        Yes. We update all of our themes with each Bootstrap update, plus are constantly adding new components, pages, and features to our themes.
                    </p>
    
                    </div>
    
                </div>
    
                </div>
                <div class="col-12 col-md-6">
    
                <!-- Item -->
                <div class="d-flex">
    
                    <!-- Badge -->
                    <div class="badge badge-lg badge-rounded-circle badge-success">
                    <span>?</span>
                    </div>
    
                    <div class="ml-5">
    
                    <!-- Heading -->
                    <h4 class="text-white">
                        *these should explain the benefits of the models above*
                    </h4>
    
                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-8">
                        Yup! Bootstrap Themes come with a satisfaction guarantee. Submit a return and get your money back.
                    </p>
    
                    </div>
    
                </div>
    
                <!-- Item -->
                <div class="d-flex">
    
                    <!-- Badge -->
                    <div class="badge badge-lg badge-rounded-circle badge-success">
                    <span>?</span>
                    </div>
    
                    <div class="ml-5">
    
                    <!-- Heading -->
                    <h4 class="text-white">
                        *any angle you could imagine* 
                    </h4>
    
                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-0">
                        Yes. Landkit has basic CSS/JS files you can include. If you want to enable deeper customization, you can integrate it into your assets pipeline or build processes.
                    </p>
    
                    </div>
    
                </div>
    
                </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </section>

      <!-- SHAPE
    ================================================== -->
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
            <svg viewBox="0 0 2880 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M720 28H0V56H995.5H1639.5H2880V28H2160C2160 28 1874 -9.82909e-10 1440 0C1006 9.829e-10 720 28 720 28Z" fill="currentColor"/>
            </svg>
        </div>
    </div>

    <!-- FORM
    ================================================== -->
    <section class="pt-6 pt-md-11 pb-8 pb-md-14" id="contact">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8 text-center">

                        <!-- Badge -->
                        <span class="badge badge-dark mb-4">
                            <span class="h6 font-weight-bold text-uppercase">CONTACT US</span>
                        </span>
                        
                        <!-- Heading -->
                        <h2 class="font-weight-bold">
                        *help me add more schools/want to add your school*
                        </h2>
            
                        <!-- Text -->
                        <p class="font-size-lg text-muted mb-7 mb-md-9">
                        *we can help you visualize your room, we just need you! idk not quite*
                        </p>
            
                    </div>
                </div> <!-- / .row -->
                <!-- Card -->
                <div class="card card-border border-orange shadow-light-lg">
                    <div class="card-body">
                        
                        <!-- Form -->
                        <form method="POST" action="{{ url_for('main.contact') }}">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ render_land_field(form.full_name, placeholder="", type="name", class="form-control", label="Your name") }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ render_land_field(form.email, placeholder="example@email.com", type="email", class="form-control", label="Your email") }}
                                </div>
                            </div> <!-- / .row -->
                            <div class="row">
                                <div class="col-12">
                                    {{ render_land_field(form.message, class="form-control", rows="5", placeholder="Type your message here", label="Message") }}
                                </div>
                            </div> <!-- / .row -->
                            <div class="row align-items-center">
                                <div class="col-12 col-md">
                                
                                <!-- Submit -->
                                <button class="btn btn-primary mb-6 mb-md-0 lift" type="submit">
                                    Submit <i class="fe fe-arrow-right ml-3"></i>
                                </button>
            
                                </div>
                                <div class="col-12 col-md-auto">
            
                                <p class="font-size-sm text-muted mb-0">
                                    Your information will remain private and secure.
                                </p>
                                
                                </div>
                            </div> <!-- / .row -->
                        </form>
        
                    </div>
                </div>
    
            </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
<!-- ========== / index -->
{% endblock %}
