<!DOCTYPE html>
<html lang="en">

<!-- index.html -->

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Abode | {% block title %} Base {% endblock %}</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo-favicon.png') }}" type="image/x-icon">

  <!-- bootstrap and jquery -->
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

  <!-- template libs -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/feather.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flickity.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flickity-fade.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jarallax.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vs2015.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">

  <script src="{{ url_for('static', filename='js/flickity.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/flickity-fade.js') }}"></script>
  <script src="{{ url_for('static', filename='js/smooth-scroll.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jarallax.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jarallax-video.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jarallax-element.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/countUp.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/highlight.pack.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/theme.min.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/retina.css') }}">
  <script src="{{ url_for('static', filename='js/imagerotator.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

  <!-- trimpath query -->
  <script src="{{ url_for('static', filename='js/query.js') }}"></script>

  

  

  <!-- custom css and js per page -->
  {% block page_js %}
  {% endblock %}
  {% block page_css %}
  {% endblock %}

</head>

<body>

  {% block base_nav %}
  <!-- ========== navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white" id="top">
      <div class="container">

        <!-- === logo -->
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
          <img src="{{ url_for('static', filename='img/logo-full-hor.png') }}" class="navbar-brand-img" alt="Abode Interior">
        </a>

        <!-- === toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- === collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <!-- === toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fe-icon-25 fe fe-x-square"></i>    
          </button>

          <!-- === navigation -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              {% if request.path != url_for('main.display') %}
                <a class="nav-link" title="Click to open a full screen, interactive example room" id="wr360PlayerId" href="#">Example</a>
              {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.about_us') }}">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                My Account
              </a>
              <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="navbarDocumentation">
                <div class="list-group list-group-flush">

                  {% if current_user.is_authenticated %}
                    <div class="list-group-item mb-4">

                      <!-- Avatar -->
                      {% if current_user.has_role('admin') %}
                      <div class="avatar">
                        <span class="avatar-title bg-dark text-uppercase rounded-circle">{{ current_user.first_name[:1] + current_user.last_name[:1] }}</span>
                      </div>
                      {% elif current_user.has_role('dean') %}
                      <div class="avatar">
                        <span class="avatar-title bg-primary text-uppercase rounded-circle">{{ current_user.first_name[:1] + current_user.last_name[:1] }}</span>
                      </div>
                      {% elif current_user.has_role('parent') %}
                      <div class="avatar">
                        <span class="avatar-title bg-success text-uppercase rounded-circle">{{ current_user.first_name[:1] + current_user.last_name[:1] }}</span>
                      </div>
                      {% elif current_user.has_role('student') %}
                      <div class="avatar">
                        <span class="avatar-title bg-warning text-uppercase text-dark rounded-circle">{{ current_user.first_name[:1] + current_user.last_name[:1] }}</span>
                      </div>
                      {% endif %}

                      <!-- Content -->
                      <div class="ml-4">

                        <!-- Text -->
                        <p class="font-size-sm text-gray-700 mb-0">
                          {{ current_user.first_name + " " + current_user.last_name }}
                        </p>

                      </div>

                    </div>

                    {% if current_user.has_role('dean') %}
                      <!-- Heading -->
                      <h6 class="dropdown-header text-primary">
                        FOR DEANS
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item mb-5" href="{{ url_for('main.dean_panel') }}">
                        Dean Panel
                      </a>
                    {% endif %}

                    {% if current_user.has_role('admin') %}
                      <!-- Heading -->
                      <h6 class="dropdown-header text-primary">
                        FOR ADMINS
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item mb-5" href="{{ url_for('admin.index') }}">
                        Admin Panel
                      </a>
                    {% endif %}

                    <!-- Heading -->
                    <h6 class="dropdown-header text-primary">
                      General
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="{{ url_for('main.display') }}">
                      My Room
                    </a>

                    <!-- List -->
                    <a class="dropdown-item" href="{{ url_for('security.change_password') }}">
                      Change Password
                    </a>

                    <!-- List -->
                    <a class="dropdown-item" href="{{ url_for('security.logout') }}">
                      Logout
                    </a>
                    
                {% else %}

                  <div class="list-group-item mb-4">

                      <!-- Heading -->
                      <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                        USE YOUR PROVIDED LOG IN CREDENTIALS HERE.
                      </h6>

                    </div>

                  <!-- Heading -->
                  <h6 class="dropdown-header text-primary">
                    GENERAL
                  </h6>

                  <!-- List -->
                  <a class="dropdown-item" href="{{ url_for('security.login') }}">
                    Login
                  </a>

                {% endif %}

                </div>
              </div>
            </li>
          </ul>

        </div>

      </div>
    </nav>
  <!-- ========== / navbar -->
  {% endblock %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="full-alert">
        <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="ml-6 close text-white" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block content %}
  {% endblock %}

  {% block footer %}
  <!-- ========== shape -->
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
        </svg>
      </div>
    </div>
  <!-- ========== / shape -->

  <!-- ========== footer -->
    <footer class="py-8 py-md-11 bg-gray-200">
      <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                
                <!-- Button -->
                <a href="#top" class="btn btn-white btn-rounded-circle shadow mt-sm-custom-n8 mt-custom-n14" data-toggle="smooth-scroll">
                <i class="fe fe-arrow-up"></i>
                </a>
    
            </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3">
        
            <!-- === logo -->
            <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/logo-full-hor.png') }}" alt="Abode Interior" class="footer-brand img-fluid mb-2"></a>

            <!-- === logo subtext -->
            <p class="text-gray-700 mb-2">
              The complex move in process made easy.
            </p>

            <!-- === social --> 
            <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
              <li class="list-inline-item list-social-item mr-3">
                <a target="_blank" href="https://www.instagram.com/abode_site/" class="text-decoration-none">
                    <!-- Icon -->
                    <div class="icon text-secondary mb-3">
                        <i class="fe-icon-20 fe fe-instagram"></i>
                    </div>
                </a>
              </li>
              <li class="list-inline-item list-social-item mr-3">
                <a href="https://twitter.com/AbodeInterior" target="_blank" class="text-decoration-none">
                    <!-- Icon -->
                    <div class="icon text-secondary mb-3">
                        <i class="fe-icon-20 fe fe-twitter"></i>
                    </div>
                </a>
              </li>
              <li class="list-inline-item list-social-item mr-3">
                <a target="_blank" href="https://www.surveymonkey.com/r/C9CM2BX" class="text-decoration-none">
                    <!-- Icon -->
                    <div class="icon text-secondary mb-3">
                        <i title="Product Survey" class="fe-icon-20 fe fe-message-circle"></i>
                    </div>
                </a>
              </li>
            </ul>

          </div>
          <div class="col-6 col-md-4 col-lg-2">
        
            <!-- === heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700">
              My Account
            </h6>

            <!-- === list -->
            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
            {% if current_user.is_authenticated %}
              <li class="mb-3">
                <a href="{{ url_for('security.logout') }}" class="text-reset">
                  Logout
                </a>
              </li>
              <li class="mb-3">
                <a href="{{ url_for('main.display') }}" class="text-reset">
                  My Room
                </a>
              </li>
              <li class="mb-3">
                <a href="{{ url_for('security.change_password') }}" class="text-reset">
                    Change password
                </a>
                </li>
              {% else %}
              <li class="mb-3">
                <a href="{{ url_for('security.login') }}" class="text-reset">
                    Login
                </a>
                </li>
            {% endif %}
            </ul>

          </div>

          <div class="col-6 col-md-4 col-lg-2">
        
            <!-- === heading -->
            <h6 class="font-weight-bold text-uppercase text-gray-700">
                Resources
            </h6>

            <!-- === list -->
            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                <li class="mb-3">
                <a href="{{ url_for('main.about_us') }}" class="text-reset">
                    About Us
                </a>
                </li>
            </ul>

            </div>
        
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </footer>
  <!-- ========== / footer -->
    <!-- Text -->
    <div class="row">
        <div class="col-12 px-10 text-center font-size-sm text-muted bg-gray-200">
            Copyright &copy; Abode, <span title="Dedicated to Bumpy.">Abode Interior</span>, abodeinterior.net · 2019
        </div>
    </div>
  {% endblock %}
  
</body>
  
</html>



